<div class='card mr-2 ml-2'>
    <div class='card-header'>
        <h2>Usuario: Edinson Perales</h2>
    </div>
</div>
<div class="searchForm mr-5 ml-5 mt-2">
    <div class="card text-center">
        <h5 class="card-header">Búsqueda de productos</h5>
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label for="exampleFormControlSelect1">Producto: </label>
                    </div>
                    <div class="col">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option >Polo manga larga</option>
                            <option>Short niño</option>
                            <option>Short NIÑA</option>
                            <option>Polo manga corta</option>
                            <option>Casaca</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <span>Productos que coinciden con la búsqueda:</span>
                    </div>
                </div>
                <div class="row rowSearchProduct">
                    <div class="col colSearchProduct">
                        <div class="tableSearchProduct mt-2">
                            <table class="table table-bordered table-striped">
                                <thead class="headSalesForm">
                                    <tr class="bg-dark">
                                        <th class="thTableSearchProduct" scope="col">Producto</th>
                                        <th class="thTableSearchProduct" scope="col">Marca</th>
                                        <th class="thTableSearchProduct" scope="col">Talla</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1Polo niño m/l</th>
                                        <td>Otto'Volt</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2Polo niño m/l</th>
                                        <td>Otto'Volt</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3Polo niño m/l</th>
                                        <td>Otto'Volt</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4Polo niño m/l</th>
                                        <td>Otto'Volt</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5Polo niño m/l</th>
                                        <td>Otto'Volt</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-dark">Seleccionar Producto</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="salesForm mt-2">
    <table class="table table-bordered">
        <thead class="headSalesForm">
            <tr class="bg-dark">
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1123</th>
                <td>Polo Niño</td>
                <td>1</td>
                <td>50</td>
                <td>50</td>
            </tr>
        </tbody>
    </table>
</div>